<div class="row">
  <div class="col-lg-8">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" placeholder="Search for..." aria-label="...">
       <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{langSelected}}<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li  *ngFor="#lang of languages"><a href="#" (click)="onLanguage(lang)">{{lang}}</a></li>
        </ul>
      </span><!-- /btn-group -->       
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="table-responsive">
  <table class="table">
    <tr>
        <th>Full Name</th>
        <th>Address</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>Province</th>
        <th>Postal Code</th>
        <th>Country</th>
        <th>Owner Type</th>
        <th>Aircraft Details</th>
    </tr>
    <tr *ngFor="#plane of privateAirplane; #i = index">
        <td>{{plane.FULL_NAME}}</td>
        <td>{{plane.STREET_NAME}}</td>
        <td>{{plane.STREET_NAME2 }}</td>
        <td>{{plane.CITY}}</td>
        <td>{{plane.PROVINCE_OR_STATE_E}}</td>
        <td>{{plane.POSTAL_CODE}}</td>
        <td>{{plane.COUNTRY_E}}</td>
        <td>{{plane.TYPE_OF_OWNER_E}}</td>
        <td>Details</td>        
    </tr>
  </table>
</div>

